---
layout: default
---
<h1> Discography </h1>

<div class="container discography">
    <div class="row">
{% for album in site.discography %}
        <div class="col-md-12 album">
            <h3>
                {{ album.title }}
            </h3>
            <p class="description">
            {{ album.content | markdownify }}
            </p>
            {% if album.bandcamp_album_id %}
                {% capture album_url %}https://bandcamp.com/EmbeddedPlayer/album={{album.bandcamp_album_id}}/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/{% endcapture %}
            {% elsif album.spotify_album_id %}
                {% capture album_url %}https://open.spotify.com/embed/album/{{album.spotify_album_id}}{% endcapture %}
            {% else %}
                {% capture album_url %}{% endcapture %}
            {% endif %}
            <iframe
                style="border: 0; width: 100%; height: 120px"
                src="{{ album_url }}"
                seamless
                ></iframe>
        </div>
{% endfor %}
     </div>
</div>
