---
layout: default
---
<h1> Scores </h1>

<div class="container">
    <div class="row">
      <div class="col-md-12 search-container">
        <input class="search" type="text" placeholder="Search" />
      </div>
{% for score in site.scores %}
      <div class="col-md-12 score"
        data-title="{{ score.title }}"
        data-instruments="{{ score.instruments }}""
        data-type="{{ score.score_type }}">
          <h3>
              <a href="{{ score.url }}">
                {{ score.title }}
              </a>
          </h3>
          <p>{{ score.date | date: "%B %d, %Y" }}</p>
          <p>
            {% assign instruments = score.instruments | split: ',' %}
            {% for instrument in instruments %}
              <span class="instrument-chip">{{ instrument }}</span>
            {% endfor %}
          </p>
          <p class="description">
          {{ score.short_description }}
          </p>
      </div>
{% endfor %}

<script>
function getQueryParams() {
    const params = {};
    const queryString = window.location.search.substring(1);
    if (!queryString) return params;
    queryString.split("&").forEach(pair => {
        const [key, value] = pair.split("=");
        params[decodeURIComponent(key)] = value ? decodeURIComponent(value) : "";
    });
    return params;
}

function search(text) {
  const scores = document.querySelectorAll(".score");

  scores.forEach(score => {
    const fields = [
      score.dataset.title,
      score.dataset.instruments,
      score.dataset.type,
    ];

    const visible = fields.some(field => field.toLowerCase().indexOf(text.toLowerCase()) > -1);

    score.classList.remove("d-none");
    if (!visible) {
      score.classList.add("d-none");
    }
  });
}

const searchBar = document.querySelector(".search");
const params = getQueryParams();
if (params.search !== undefined) {
  searchBar.value = params.search;
  search(params.search);
}

searchBar.addEventListener("keyup", () => {
  const text = searchBar.value;
  search(text);
})

</script>
