---
layout: default
---
<h1> Scores </h1>

<div class="container">
    <div class="row">
{% for score in site.scores %}
      <div class="col-md-12" data-type="{{ score.score_type }}">
          <h3>
              <a href="{{ score.url }}">
                {{ score.title }}
              </a>
          </h3>
          <p>{{ score.date | date: "%B %d, %Y" }}</p>
          <p>
            {% assign instruments = score.instruments | split: ',' %}
            {% for instrument in instruments %}
              <span class="instrument-chip">{{ instrument }}</span>
            {% endfor %}
          </p>
          <p class="description">
          {{ score.short_description }}
          </p>
      </div>
{% endfor %}

<script>
function getQueryParams() {
    const params = {};
    const queryString = window.location.search.substring(1);
    if (!queryString) return params;
    queryString.split("&").forEach(pair => {
        const [key, value] = pair.split("=");
        params[decodeURIComponent(key)] = value ? decodeURIComponent(value) : "";
    });
    return params;
}

const params = getQueryParams();
if (params.score_type !== undefined) {
    const selector = `[data-type]:not([data-type=${params.score_type}])`;
    const elements = document.querySelectorAll(selector);
    elements.forEach(e => e.classList.add("d-none"));
}
</script>
