---
layout: default
---
<h1> Scores </h1>

<div class="container">
    <div class="row">
      <div class="col-md-12 search-container">
        <input class="search" type="text" placeholder="Search" />
      </div>
{% for score in site.scores %}
      <div class="col-md-12 score"
        data-title="{{ score.title }}"
        data-instruments="{{ score.instruments }}""
        data-type="{{ score.score_type }}">
          <h3>
              <a href="{{ score.url }}">
                {{ score.title }}
              </a>
          </h3>
          <p>{{ score.date | date: "%B %d, %Y" }}</p>
          <p>
            <span class="instrument-chip">{{ score.score_type | capitalize }}</span>
            {% assign instruments = score.instruments | split: ',' %}
            {% for instrument in instruments %}
              <span class="instrument-chip">{{ instrument }}</span>
            {% endfor %}
          </p>
          <p class="description">
          {{ score.short_description }}
          </p>
      </div>
{% endfor %}

<script>
function getSearchText() {
  const url = new URL(window.location);
  return url.searchParams.get("search");
}

function search(text) {
  const scores = document.querySelectorAll(".score");

  scores.forEach(score => {
    const fields = [
      score.dataset.title,
      score.dataset.instruments,
      score.dataset.type,
    ];

    const visible = fields.some(field => field.toLowerCase().indexOf(text.toLowerCase()) > -1);

    score.classList.remove("d-none");
    if (!visible) {
      score.classList.add("d-none");
    }
  });

  const url = new URL(window.location);
  if (url.searchParams.get("search") !== text) {
    url.searchParams.set("search", text);
    history.replaceState(null, "", url);
  }
}

const searchBar = document.querySelector(".search");
const searchText = getSearchText();
if (searchText !== null) {
  searchBar.value = searchText;
  search(searchText);
}

searchBar.addEventListener("keyup", () => {
  const text = searchBar.value;
  search(text);
})

</script>
