body {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    background-color: #f8f8f8;
    color: #002627;
    font-size: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.4em;
}

@media(max-width: 600px) {
    body {
        font-size: 18px;
    }
}

h1, h2 {
    text-align: center;
}

.underline {
    border-bottom: 6px solid #806C00;
}

.underline.small {
    border-bottom-width: 3px;
}

h1 {
    margin-bottom: 1.1em;
}

h2 {
    margin-bottom: 0.9em;
}

p, dd {
    text-indent: 1.5em;
    margin-bottom: 1.5em;
}

dt {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

dd {
    margin-left: 0;
}
