.container {
    line-height: 26px;
    max-width: 670px;
}

span.navbar-brand {
  cursor: pointer;
}

img.me {
    max-width: 350px;
    width: 40%;
    float: right;
    margin-left: 2em;
}

table {
  @extend .table;
  @extend .table-striped;
}

blockquote {
  @extend .blockquote;
}

img {
  @extend .img-fluid;
  margin-bottom: 1rem;
}

.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-date {
  float: right;
  margin-left: 1rem;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.footer-container {
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
  text-decoration: none;
  color: #212529;
}

.archive-title {
  color: #212529;
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}

.search-container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid;
}

.search-container .search {
  padding-left: 2em;
  width: 100%;
}

.instrument-chip {
  padding: 0.25em;
  margin: 0.1em;
  border-radius: 2px;
  background-color: rgb(225, 225, 225);
}

@media (prefers-color-scheme: dark) {
  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  }

  .archive-title {
    color: #e1e1e1;
  }

  .light-avatar {
    display: none !important;
  }
  .dark-avatar {
    display: inline-block !important;
  }

  .instrument-chip {
    background-color: rgb(64, 64, 64);
  }
}

.discography .album {
    padding-bottom: 4em;
}

.portfolio .portfolio-item {
    padding-bottom: 4em;
}

.portfolio .portfolio-item img {
    float: left;
    width: 40%;
    margin-right: 2em;
    height: auto;
}

.music .pdf-preview iframe {
    width: 100%;
    height: 30em;
}

.music .audio-preview {
    text-align: center;
}